* {
  box-sizing: border-box;
  font-family: monospace;
}

html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  min-width: 480px;
  height: 100%;
  min-height: 596px;
}

#tooltop {
  width: 100%;
  height: 32px;
  background: #ddd;
}
#address {
  width: 192px;
  height: 32px;
}
#addresscolon {
  display: inline-block;
  width: 8px;
}
#port {
  width: 64px;
  height: 32px;
}
#connect {
  -webkit-appearance: none;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: #eee;
  height: 32px;
  width: 80px;
}
#debug {
  height: 32px;
  width: calc(100% - 350px);
  float: right;
}

#middle {
  width: 100%;
  height: calc(100% - 96px);
}

#canvasarea {
  float: left;
  background: black;
  width: calc(100% - 96px);
  height: 100%;
}
#gamecanvas {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#toolright {
  float: right;
  background: #666;
  width: 96px;
  height: 100%;
}
#toolright > div {
  width: 100%;
  margin-top: 4px;
  background: #ddd;
}
#toolright1 {
  height: 256px;
  line-height: 0;
}
#toolright2 {
  height: 32px;
}
#toolright3 {
  height: 128px;
}
#toolright3 > label {
  display: block;
  height: 32px;
  float: right;
  line-height: 32px;
  width: 64px;
}
#friction {
  height: 30px;
  width: 30px;
  margin: 1px;
  padding: 1px;
}
#toolright4 {
  height: 64px;
}

#toolbottom {
  width: 100%;
  height: 64px;
}
#mappings {
  background: #ddd;
  width: 100%;
  height: 100%
}
.mappingpair {
  float: left;
  width: 160px;
  height: 32px;
}
.mappingaction {
  display: block;
  float: left;
  text-align: right;
  line-height: 32px;
  width: 64px;
  height: 100%;
}
.mappingkey {
  width: 96px;
  height: 100%;
}

body {
  user-select: none;
}

/* multiselect */
.ms {
  display: block;
  float: left;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  border-radius: 4px;
  padding: 1px;
  margin: 0px;
  width: 32px;
  height: 32px;
}
.msactive {
  border-color: cyan;
}

input[type='checkbox'] {
  display: block;
  float: left;
  -webkit-appearance: none;
  margin: 1px;
  border: 3px solid black;
  border-radius: 4px;
  width: 30px;
  height: 30px;
}
input[type='checkbox']:checked {
  background: cyan;
}

input[type='text'] {
  -webkit-appearance: none;
  border: 1px solid gray;
  padding: 3px;
}
input[type='text']:focus {
  background: #dfd;
}

.mappingkeyconflict {
  background: #fec;
}
